<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sobre Mim</title>
    <style>
        body { font-family: sans-serif; padding: 40px; background-color: #e0f7fa; }
        .voltar { text-decoration: none; color: white; background: blue; padding: 10px; border-radius: 5px; }
    </style>
</head>
<body>
    <h1>Sobre o Criador</h1>
    <p>Meu nome é Rosandro e este é meu projeto de aprendizado em Django.</p>
    <p>Estou construindo isso passo a passo!</p>
    
    <br><br>
    <a href="/" class="voltar">Voltar para Início</a>
</body>
</html>